* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  background-color: #210002;
  color: #ffaf00;
  height: 300vh;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-nav {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #210002;
  color: #ffaf00;
}

.nav-links {
  display: flex;
}

.nav-item {
  display: flex;
}

.nav-link {
  display: block;
  padding: 0.5rem 0.8rem;
  height: 100%;
  font-size: 0.8rem;
  font-weight: bold;
}

.logo {
  font-size: 1.1rem;
  font-weight: bold;
}

.logo-link {
  display: block;
  padding: 0.2rem 0.6rem;
  height: 100%;
}

.common-link:hover {
  background-color: #7e0030;
  transition: background-color 0.3s ease;
}

.active-link {
  background-color: #a34300;
}

.parallax-section {
  position: relative;
  overflow: hidden;
  height: 100vh;
  perspective: 1px;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  will-change: transform;
}

.parallax-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  pointer-events: none;
}

.available-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
}

.available-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
}

.available-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  letter-spacing: 0.5rem;
  font-weight: normal;
  margin-bottom: 3rem;
}

.available-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}

.available-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffaf00;
  color: #210002;
  width: 350px;
  text-align: center;
  padding: 0.1rem 0;
}

.available-item:hover {
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.buyicon {
  height: 18px;
  margin-right: 0.7rem;
}

.banner-right,
.banner-left {
  height: 35px;
  width: 10px;
}

.banner-left {
  position: absolute;
  left: 0;
}

.banner-right {
  position: absolute;
  right: 0;
}

.available-description {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.video-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}

.description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50%;
  margin: 0 auto;
}

.description-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.description-text-container {
  font-size: 1.3rem;
  line-height: 1.7;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5.5rem;
}

.description-text {
  margin-bottom: 2.2rem;
}

.description-items {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a34300;
  color: #210002;
  width: 350px;
  text-align: center;
}

.description-link {
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.description-item:hover {
  cursor: pointer;
  background-color: #ffaf00;
  transition: background-color 0.3s ease;
}

.gallery-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 6rem 0;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  width: 80;
  max-width: 1000px;
}

.gallery-item {
  width: 100%;
  height: 250px;
  cursor: pointer;
  opacity: 0.8;
}

.gallery-item:hover {
  opacity: 1;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
}

.lightbox-content {
  max-width: 80%;
  max-height: 80%;
  margin: auto;
  display: block;
}

.close,
.prev,
.next {
  position: absolute;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.close {
  top: 20px;
  right: 35px;
}

.prev {
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.next {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.counter {
  position: absolute;
  bottom: 20px;
  color: #fff;
  font-size: 1rem;
}
